<!DOCTYPE html>
 <html>
     <head>
        <title> Recipe Finder </title>
        <link href="../style.css" rel="stylesheet">
     </head>
     <body>
        <a href="/"> <button style="color: #7dd;"> back </button></a>
        <a href="/customisation"> <button style="color: #7dd;"> back to form </button></a>
        <div id = "Recipes">
            <h1></h1>
            <button style="color: #7dd;"> <h1> Recipe 1 </h1></button>
            <button style="color: #7dd;"> <h1> Recipe 2 </h1></button>
            <button style="color: #7dd;"> <h1> Recipe 3 </h1></button>
            <button style="color: #7dd;"> <h1> Recipe 4 </h1></button>
            <button style="color: #7dd;"> <h1> Recipe 5 </h1></button>
            <br>
            <button style="color: #7dd;"> <h1> Recipe 6 </h1></button>
            <button style="color: #7dd;"> <h1> Recipe 7 </h1></button>
            <button style="color: #7dd;"> <h1> Recipe 8 </h1></button>
            <button style="color: #7dd;"> <h1> Recipe 9 </h1></button>
            <button style="color: #7dd;"> <h1> Recipe 10 </h1></button>
        </div>
     </body>
     <foot>
      <script>
         document.querySelectorAll('h1')[0].appendChild(document.createTextNode(varOne));
      </script>
     </foot>
</html>